transformers
onnxruntime
azure-iot-device
python-decouple
requests
torch
torchvision
ultralytics
pillow
numpy<2.0.0
opencv-python==4.10.0.82
tensorboard
tqdm
pyyaml
h5py
scipy
joblib
timm
fvcore
pyfftw
kornia==0.1.4
matplotlib
einops
yacs
msgpack